@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --main-color: #f5f5f5;
  --black-color: #353535;
  --border: 01rem solid rgba(255, 255, 255, 0.3);
  --cards: rgba(249, 167, 74, 0.6);
}

/*! base html codes*/

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s ease;
}

html {
  font-size: 62.5%; /*Normalde 1rem=16px idi, (10/16=0.625). 1rem=10px olacak şeklinde daha kolay nalşılıyor*/
  overflow-x: hidden; /* Yatayda bulunan scroll barı kapat*/
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: black;
}

section {
  padding: 3.5rem 7%;
}

#bookCardsSection,
#listBooksSection,
#addBookSection,
#addCustomerSection,
#saleBookSection,
#addStockSection {
  display: none;
}

.book-cards .headLine {
  color: black;
  font-size: 3.5rem;
  margin-bottom: 3.5rem;
  border-bottom: 0.1rem solid #fff;
}

.book-cards .headLine span {
  color: var(--cards);
}

body {
  background-color: var(--main-color);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 3.75rem;
  border-radius: 30rem;
  font-size: 2rem;
  color: white;
  background-color: var(--black-color);
  font-weight: bold;
}

.btn:hover {
  opacity: 0.4;
}

.btnBuy {
  margin-left: auto;
  margin-right: 0;
  padding: 2rem 3.75rem;
  border-radius: 5rem;
  font-size: 2rem;
  color: white;
  background-color: var(--black-color);
  font-weight: bold;
}

.btnBuy:hover {
  opacity: 0.4;
}

/* Header Sectiom Start*/
.logo img {
  height: 10rem;
}

.header {
  background-color: white;
  display: flex; /* Öğeleri yan yana hizalar */
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
  position: sticky; /*aşağı doğru kaydırma yaptığımızda ekranın en üstüne yapışır*/
  top: 0.5em;
  z-index: 1000; /* en önde olmasını sağlar */
}

.header .navbar a {
  font-size: 1.6rem;
  margin: 0 1.5rem; /* ilk değer üst alt, sonraki de sağ ve soldan %7 kadar boşluk verir */
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--black-color);
  padding-bottom: 0.5rem;
}

.header .buttons button {
  cursor: pointer;
  font-size: 2.5em;
  margin-left: 2rem;
  background-color: transparent;
}

/*New Navbar Start*/
#primary_nav_wrap {
  margin-top: 0.5rem;
}

#primary_nav_wrap ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  color: #000;
}

#primary_nav_wrap ul a {
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 3.2rem;
  padding: 0 0.5rem;
}

#primary_nav_wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

#primary_nav_wrap ul li:hover {
  background: #f6f6f6;
}

#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
}

#primary_nav_wrap ul ul li {
  float: none;
  width: 20rem;
}

#primary_nav_wrap ul ul a {
  line-height: 120%;
  padding: 1rem 1.5rem;
}

#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%;
}

#primary_nav_wrap ul li:hover > ul {
  display: block;
}
/*New Navbar End*/

/* Header Sectiom End*/

/* Home Sectiom Start*/
.home {
  min-height: 100vh;
  /* Bir tarayıcıda görülen maks alan, baştan sona kadar olan alan*/
  display: flex;
  /*Yan yana hizala*/
  background: url(../../images/home2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -14.5rem;
  display: flex;
  align-items: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 7rem;
  color: white;
  text-transform: uppercase;
  margin-top: 17rem;
}

.home .content p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  text-transform: capitalize;
  padding: 1rem;
  color: white;
}

/* Book Section Start*/

.book-cards {
  display: none;
}

.book-cards .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
}

.book-cards .box-container .box {
  padding: 3rem;
  background-color: var(--cards);
  border-radius: 3rem;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.book-cards .box-container .box img {
  width: 100%;
  object-fit: cover;
}

.book-cards .box-container .box .book-publisher {
  font-size: 1.8rem;
}

.book-cards .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
}

.book-cards .box-container .box .price {
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.book-cards .box-container .box .price span {
  font-size: 2rem;
  padding: 0.5rem 0;
  text-decoration: line-through;
  font-style: italic;
  font-weight: 300;
}

.book-cards .box-container .box .box-bottom {
  align-self: flex-end;
}

/* Book Section End*/

/* All Form Using - Start */

form {
  margin: 2% auto;
  padding: 3rem 3.75rem;
  width: 32rem;
  color: #aaa;
  border: 0.1em solid #ddd;
  border-radius: 0.5rem;
  font-size: 1.75rem;
}

form input {
  width: 25rem;
  height: 4rem;
  text-indent: 1.5em;
  border: 0.1em solid #ddd;
  border-radius: 2rem;
  outline-color: #1abc9c;
  font-size: 1.75rem;
}

form div {
  margin-top: 1.5rem;
}

form label {
  color: black;
}
/* All Form Using - End */

/* Create four equal columns that floats next to each other */
.column {
  text-align: center;
  float: left;
  width: 24%;
  padding: 0.5 0.5rem;
  margin: 0.1rem;
  background-color: var(--cards);
  font-size: 1.7rem;
  height: 3rem; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sale-cart .row:nth-child(1) > div {
  font-weight: bold;
  font-size: 2.3rem;
  background-color: black;
  color: white;
}
