@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --main-color: #f5f5f5;
  --black-color: #353535;
  --border: 01rem solid rgba(255, 255, 255, 0.3);
  --cards: rgba(246, 135, 10, 0.6);
  --btnHover: #ff9800;
}

/*! base html codes*/

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s ease;
}

html {
  font-size: 62.5%; /*Normalde 1rem=16px idi, (10/16=0.625). 1rem=10px olacak şeklinde daha kolay nalşılıyor*/
  overflow-x: hidden; /* Yatayda bulunan scroll barı kapat*/
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

section {
  padding: 3.5rem 7%;
}

#bookCardsSection,
#listBooksSection,
#addBookSection,
#addCustomerSection,
#saleBookSection,
#addStockSection,
#cancelSaleSection,
#rentBookSection,
#cancelRentSection,
#refundBookSection {
  display: none;
}

body {
  background-color: var(--main-color);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 3.75rem;
  border-radius: 2rem;
  font-size: 2rem;
  color: white;
  background-color: var(--black-color);
  font-weight: bold;
}

.btn:hover {
  background-color: var(--btnHover);
  color: #ffff;
}

.btnBuy {
  margin-left: auto;
  margin-right: 0;
  padding: 2rem 3.75rem;
  border-radius: 2rem;
  font-size: 2rem;
  color: white;
  background-color: var(--black-color);
  font-weight: bold;
}

.btnBuy:hover {
  opacity: 0.4;
}

/* Header Sectiom Start*/
.logo img {
  height: 9rem;
  padding-right: 3rem;
}

.header {
  background-color: white;
  display: flex; /* Öğeleri yan yana hizalar */
  align-items: center;
  justify-content: center;
  padding: 0 3%;
  margin: 2rem 7%;
  border-radius: 2rem;
  box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
  position: sticky; /*aşağı doğru kaydırma yaptığımızda ekranın en üstüne yapışır*/
  top: 0.5em;
  z-index: 1000; /* en önde olmasını sağlar */
}

.header .navbar a {
  font-size: 2rem !important; /* html etiketi içerisindeki font size iptal ederk kendi bıyutumuzu vermiş oluyoruz */
  margin: 0.5rem 1rem; /* ilk değer üst alt, sonraki de sağ ve soldan 1.5rem kadar boşluk verir */
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
}

/*New Navbar Start*/
#primary_nav_wrap {
  margin-top: 0.5rem;
}

#primary_nav_wrap ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  color: #000;
}

#primary_nav_wrap ul a {
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 3.2rem;
  padding: 0 0.5rem;
}

#primary_nav_wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

#primary_nav_wrap ul li:hover {
  background: #ff9800;
  border-radius: 1rem;
  z-index: 1;
}

#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
  border-radius: 1rem;
}

#primary_nav_wrap ul ul li {
  float: none;
  width: 20rem;
}

#primary_nav_wrap ul ul a {
  line-height: 120%;
  padding: 1rem 1.5rem;
}

#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%;
}

#primary_nav_wrap ul li:hover > ul {
  display: block;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0.8rem 2.4rem;
}
/*New Navbar End*/

/* Header Sectiom End*/

/* Home Sectiom Start*/
.home {
  min-height: 100vh;
  /* Bir tarayıcıda görülen maks alan, baştan sona kadar olan alan*/
  display: flex;
  /*Yan yana hizala*/
  background: url(../../images/home2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -13.5rem; /*header 94.8px + (20+20 = alt ve üstten padding var) = 134.8 ~ 135px = 13.5 rem */
  display: flex;
  align-items: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 7rem;
  color: white;
  text-transform: uppercase;
  margin-top: 17rem;
}

.home .content p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  text-transform: capitalize;
  padding: 1rem;
  color: white;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */

 .text-focus-in {
	animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
/* Home Sectiom End*/


/* All Form Element Using - Start */

form {
  margin: 2% auto;
  padding: 3rem 3.75rem;
  width: 32rem;
  color: #aaa;
  border: 0.1em solid #ddd;
  border-radius: 0.5rem;
  font-size: 1.75rem;
  box-shadow: 1rem 1rem 2rem 0rem rgb(0 0 0 / 75%);
}

form input {
  width: 25rem;
  height: 4rem;
  text-indent: 1.5em;
  border: 0.1em solid #ddd;
  border-radius: 1rem;
  outline-color: #1abc9c;
  font-size: 1.75rem;
}

form input[type="submit"] {
  margin-top: 1.5rem;
  height: 5rem;
  text-indent: 0em;
  text-align: center;
  background-color: var(--black-color);
  border-radius: 1rem;
  color: var(--main-color);
  font-weight: bold;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
}

form input[type="submit"]:hover {
  background-color: var(--btnHover);
}

form div {
  margin-top: 1.5rem;
}

form label {
  color: black;
}
/* All Form Element Using - End */

/* Sale Cart Start*/

.sale-cart-column {
  text-align: center;
  float: left;
  width: 24%;
  padding: 0.5 0.5rem;
  margin: 0.1rem;
  background-color: var(--cards);
  font-size: 1.7rem;
  height: 3rem; /* Should be removed. Only for demonstration */
}

.sale-cart-row:after {
  content: "";
  display: table;
  clear: both;
}

.sale-cart .sale-cart-row:nth-child(1) > div {
  font-weight: bold;
  font-size: 2.3rem;
  background-color: #ff9800;
  color: black;
}

#totalSaleAmount {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
}

#totalSaleAmount > span {
  padding-left: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
  color: green;
}

/* Sale Cart End*/

/* Rent Cart Start*/

.rent-cart-column {
  text-align: center;
  float: left;
  width: 24%;
  padding: 0.5 0.5rem;
  margin: 0.1rem;
  background-color: var(--cards);
  font-size: 1.7rem;
  height: 3rem; /* Should be removed. Only for demonstration */
}

.rent-cart-row:after {
  content: "";
  display: table;
  clear: both;
}

.rent-cart .rent-cart-row:nth-child(1) > div {
  font-weight: bold;
  font-size: 2.3rem;
  background-color: #ff9800;
  color: black;
}

.headLine{
  font-size: 2.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  margin-bottom: 1rem;
}

#totalRentAmount {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
}

#totalRentAmount > span {
  padding-left: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
  color: green;
}

/* Rent Cart End*/

/* Create four equal columns that floats next to each other */
.column-list-book {
  text-align: center;
  float: left;
  width: 19%;
  padding: 0.5 0.5rem;
  margin: 0.1rem;
  background-color: var(--cards);
  font-size: 1.7rem;
  height: 3rem; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row-list-book:after {
  content: "";
  display: table;
  clear: both;
}

.list-books .row-list-book:nth-child(1) > div {
  font-weight: bold;
  font-size: 2.3rem;
  background-color: black;
  color: white;
}
